<div class="author">
    <h1 class="author__heading">Hi, I Am Dev.</h1>
    <p class="author__body">Senior Software Engineer & Freelancer</p>
</div>

<img src="/img/hero-image.webp" alt="img unavailable" class="hero__image" width="981" height="528">

<section class="articles">
    <h2 class="articles__headings">Latest Posts</h2>
    <ul class="article-ul">

        <% data.forEach(post=> { %>
            <li>
                <a href="#">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <a href="#" class="pagination"> &lt; View Old Posts</a>
</section>